.mainContent {
  height: 100vh;
  align-items: center;
  text-align: center;

  &.fade {
    display: none;
  }
}

.shuttleWrapper {
  z-index: 100;
  order: 0;
  height: 200px;
  width: 100%;
  margin-top: 620px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .shuttle {
    height: 100px;
    width: 100px;
    // background-image: url(../assets/6989385.png);
    // background-position: center;
    // background-size: 100px;
    // background-repeat: no-repeat;
    margin-bottom: 2px;
    cursor: pointer;
    animation: shake 0.4s ease infinite;
    &:hover {
      animation: shake 0.4s ease infinite;
    }
    &.fly {
      animation: takeOff 3s ease forwards;
    }
  }
  .shuttleSmoke {
    display: none;
    width: 70px;
    height: 70px;
    background-image: url(/dist/images/—Pngtree—flame\ icon\ picture_7179536.png);
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}
