.page1 {
  width: 100%;
  height: 100vh;
  background-color: rgb(46, 0, 46);
  position: relative;
  overflow: hidden;

  .scroll {
    transition: transform 0.06 linear;
    pointer-events: none;
  }
  #sky-wrapper {
    height: 100vh;
    width: 100%;
    position: absolute;

    background: url('../layers/sky-01.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  #earth-wrapper {
    height: 100vh;
    width: 100%;
    position: absolute;
    background: url('../layers/earth-01.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
    top: 400px;
  }
  #ground-wrapper {
    height: 100vh;
    width: 100%;
    position: absolute;
    background: url('../layers/ground-01.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 3;
  }
  #planet {
    height: 100vh;
    width: 100%;
    position: absolute;
    background: url('../layers/planet.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
  }
  #leftrock {
    height: 100vh;
    width: 100%;
    position: absolute;
    background: url('../layers/leftrock-01.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 4;
  }
  #rightrock {
    height: 100vh;
    width: 100%;
    position: absolute;
    background: url('../layers/rightrock-01.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 4;
  }
  .filter {
    content: '';

    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(
      to top,
      rgba(49, 1, 49, 0.95),
      rgba(49, 1, 49, 0.8),
      rgba(49, 1, 49, 0.6),
      transparent
    );
    z-index: 6;
  }
}
.page2 {
  height: 110vw;
  background-color: rgb(49, 1, 49);
  position: relative;

  overflow: hidden;
  padding: 80px;
  font-size: 1rem;
  .scroll2 {
    z-index: 10s;
    position: relative;
    top: 250px;
    transition: all 0.9s ease;
    text-align: left;
    opacity: 0;

    &.show {
      opacity: 1;
      transform: translateY(-140px);
    }

    &.headline {
      margin-top: 60px;
    }
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 90px;
    text-indent: 10px;
    &::selection {
      background-color: black;
      color: white;
    }
  }
  p {
    line-height: 1.1;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(240, 214, 251);
    &::selection {
      background-color: black;
      color: white;
    }
  }
}
.page3 {
  height: 80vw;
  background-color: rgb(46, 0, 46);
  overflow-x: hidden;
}
.page4 {
  height: 60vw;
  overflow: hidden;
  background-color: rgb(46, 0, 46);

  h1 {
    margin-top: 200px;
    position: relative;
    right: 30%;
    font-size: 5rem;
  }
  .contactContainer {
    position: relative;
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    p {
      margin-bottom: 30px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .input {
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      outline: none;
      border-radius: 30px;
      margin: 10px;
      height: 50px;
      width: 400px;
      text-indent: 20px;
      background-color: rgb(203, 223, 250);
    }
    #message {
      margin: 30px;
      font-size: 18px;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      outline: none;
      border-radius: 30px;
      width: 400px;
      text-indent: 10px;
      padding: 15px;
      background-color: rgb(203, 223, 250);
    }
    .button {
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 22px;
      margin: 10px;
      padding: 10px 15px;
      outline: none;
      border: none;
      background-color: rgb(136, 128, 255);
      cursor: pointer;
      &:hover {
        border: 2px solid white;
      }

      font-size: 1.5rem;
    }
    .socialIcons2 {
      margin-left: 1rem;
      padding: 20px;
      z-index: 7;
      a {
        text-decoration: none;
      }
      i {
        color: white;
        cursor: pointer;
        margin: 5px;
        @include transition-ease;
        &:hover {
          opacity: 0.8;
          color: $secondary-color;
        }
      }
    }
  }
}
